body{
    background-color: black;
    padding: 0%;
    margin: 0;
    /* background-image: url('bgimg1.png'); */
    background-image: url('FinalCover.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

p{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.outer-div{
    width: 80%;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-div{
    border-radius: 100%;
    background-color: white;
    width: 94px;
    height: 94px;
    margin-bottom: 8%;
}

.profile-pic{
    border-radius: 100%;
    width: 90px;
    height: 90px;
    position: relative;
    top: 2px;
    left: 2px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name p{
    font-weight: bold;
    font-size: 1.1rem;
}

.intro-text{
    margin: 1% auto 5% auto;
    width: 70%;
    font-size: 0.8rem;
}
.intro p{
    margin: 0;
}

.intro-text p{
    font-size: 0.9rem;
}

.linktree{
    width: 96%;
    margin: 5% auto 10% auto;
}

.linktree-btn{
    width: 100%;
    border-radius: 8px;
    border-color: white;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    color: white;
    margin: 4% auto;
    padding: 5% 2%;
    font-size: 1rem;
}:hover{
    /* color: bisque;
    border-color: bisque; */
    color: #111824;
    border-color: #111824;
}

.sm-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fab{
    color: white;
    font-size: 1.4rem;
}:hover{
    /* color: bisque; */
    color: #111824;
}
:hover{
    color: #111824;
}

@media screen and (min-width:320px) and (max-width:768px){
    .outer-div{
        margin: 10% auto;
    }
    .profile-pic-div{
        width: 120px;
        height: 120px;
        margin-bottom: 5%;
    }
    .profile-pic{
        width: 116px;
        height: 116px;
    }
    .name p{
        font-size: 1.3rem;
    }
    .intro-text{
        width: 80%;
    }
    .intro-text p{
        font-size: 1.1rem;
    }
    .linktree{
        margin-top: 5%;
        width: 80%;
    }
    .linktree-btn{
        font-size: 1.1rem;
    }
}

@media screen and (min-width:320px) and (max-width:375px){
    .intro-text{
        width: 85%;
    }
}

@media screen and (min-width:769px){
    .outer-div{
        margin: 5% auto;
    }
    .profile-pic-div{
        width: 150px;
        height: 150px;
        margin-bottom: 4%;
    }
    .profile-pic{
        width: 146px;
        height: 146px;
    }
    .name p{
        font-size: 1.5rem;
    }
    .intro-text p{
        font-size: 1.2rem;
    }
    .linktree{
        width: 60%;
        margin: 3% auto 5% auto;
    }
    .linktree-btn{
        margin: 3% auto;
        font-size: 1.1rem;
        padding: 4% 2%;
    }
}

